.pnf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--text);
}

.pnf-wrapper {
  background-color: var(--bgLighter);
  border: 1px solid var(--soft);
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.pnf-wrapper:hover {
  transform: scale(1.02);
}

.pnf-image {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}

.pnf-title {
  font-size: 26px;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

.pnf-title:hover {
  color: #2f77ff;
}

/* ---------- Responsive ---------- */
@media (max-width: 700px) {
  .pnf-wrapper {
    padding: 20px 25px;
  }

  .pnf-title {
    font-size: 22px;
  }

  .pnf-image {
    max-width: 200px;
  }
}
